body {
    background-color: white;
    color: #2e2f42;
    font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
.header_logo {
    text-decoration: none;
    color: #4D5AE5;
    font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
}
span {
    color: black;
}
.menu_1 li{
    list-style: none;
}
.menu_1 a{
    text-decoration: none;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    color: #2e2f42;
}
.menu_1 a:hover {
    color: #4D5AE5;
}
.adress li {
    list-style: none;
}
.adress a {
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #434455;
    text-decoration: none;
}
.adress a:hover {
    color: #4D5AE5;
}
.button_box {
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
}
h1 {
    color: white;
    font-family: "Roboto", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px;
    text-align: center;
}
.button {
    background-color: #4d5ae5;
    color: white;
  width: 169px;
  height: 56px;
  top: 428px;
  transform: translate(375%);
  text-align: center;
  cursor: pointer;
  border-radius: 7%;
}