body {
  background-color: white;
  color: #2e2f42;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}
p {
  color: #434455;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}
.logo {
  text-decoration: none;
  color: #4d5ae5;
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03;
  text-transform: uppercase;
}
span {
  color: black;
}
.menu_1 li {
  list-style: none;
}
.menu_1 a {
  text-decoration: none;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: #2e2f42;
  line-height: 24px;
  letter-spacing: 2%;
}
.menu_1 a:hover {
  color: #4d5ae5;
}
.adress li {
  list-style: none;
}
.adress a{
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #434455;
  text-decoration: none;
  line-height: 24px;
  letter-spacing: 2%;
}
.adress a:hover {
  color: #4d5ae5;
}
.button_box {
  background-color: #2e2f42;
}
h1 {
  color: white;
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2%;
}
.button {
  background-color: #4d5ae5;
  color: white;
  transform: translate(375%);
  text-align: center;
  cursor: pointer;
  border-radius: 4%;
}
h3 {
  color: #2e2f42;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.first_list {
  display: block;
}
.first_list div {
  display: inline-block;
}
h2 {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}
.our_team div {
  display: inline-block;
}
.our_team {
  background-color: #f4f4fd;
}
.portfolio div {
  display: inline-block;
}
.portfolio {
  background-color: #f4f4fd;
}
.footer {
  background-color: #2e2f42;
}
.footer p {
  color: #f4f4fd;
}
